<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
              PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
              "http://mybatis.org/dtd/mybatis-3-config.dtd">
              
<configuration>
   <typeAliases>
   	<typeAlias type="com.esh.start.board.qna.QnaVO" alias="QnaVO"/>
   	<typeAlias type="com.esh.start.board.qna.QnaFileVO" alias="QnaFileVO"/>
   	<typeAlias type="com.esh.start.util.Pager" alias="Pager"/>
   	
   	<typeAlias type="com.esh.start.member.MemberVO" alias="MemberVO"/>
   	<typeAlias type="com.esh.start.member.RoleVO" alias="RoleVO"/> 
   	
   	<typeAlias type="java.lang.Long" alias="Long"/>	
   	<typeAlias type="java.lang.Integer" alias="Integer"/>	
   	<typeAlias type="java.util.List" alias="List"/>
  </typeAliases>

</configuration>